@use '../../styles/utils/variables' as *;
@use '../../styles/base/mixins' as *;
@use "sass:map";


.drawing-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    /* Taille fixe pour toutes les cartes */

    &:hover {
        transform: scale(1.05);
    }

    &__image {
        width: 180px;
        /* Largeur fixe */
        height: 180px;
        /* Hauteur fixe */
        border-radius: 10px;
        object-fit: cover;
        /* Évite la déformation en remplissant l'espace */
    }

    &__content {
        text-align: center;
        margin-top: 10px;

        &-theme {
            font-size: 18px;
            font-weight: bold;
            margin: 5px 0;
            color: #333;
            /* Rendre le texte visible */
        }

        &-views {
            font-size: 14px;
            color: gray;
        }
    }
}