@use '../../styles/utils/variables' as *;
@use '../../styles/base/mixins' as *;
@use "sass:map";

.drawing-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px #ccc;
    overflow: hidden;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 200px;
    overflow: hidden;
    position: relative;

    &:hover {
        transform: scale(1.05);
    }

    &__badge {
        position: absolute;
        top: 8px;
        right: 8px;
        background: #f9b233;
        color: #2c3f64;
        font-size: 0.75rem;
        font-weight: bold;
        padding: 0.2rem 0.5rem;
        border-radius: 0.5rem;
    }

    &__image-container {
        width: 180px;
        height: 180px;
        border-radius: 10px;
        overflow: hidden;
    }

    &__link {
        width: 180px;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 12px;
        overflow: hidden;

        &-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
        }
    }

    &__content {
        text-align: center;
        margin-top: 10px;

        &-theme {
            font-size: 18px;
            font-weight: bold;
            margin: 5px 0;
            color: #333;
            line-height: 1.3;
            min-height: 2.6em; // force l'espace de 2 lignes
            white-space: normal; // autorise le retour à la ligne
            overflow: visible;
            text-overflow: unset;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

        }

        &-views {
            font-size: 14px;
            color: gray;
        }
    }

    &__like-button {
        background: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        padding: 5px;
        color: gray;

        &:hover {
            transform: scale(1.1);
            color: red;
        }

        &.liked {
            color: red;
            transform: scale(1.2);
            animation: pop 0.3s ease-in-out;
        }
    }

    // &-button{

    // }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}