@use '../../styles/utils/variables' as *;
@use '../../styles/base/mixins' as *;
@use "sass:map";

.drawing-card {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 15px;
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;

    &:hover {
        transform: scale(1.05);
    }

    &__image-container {
        width: 180px;
        height: 180px;
        border-radius: 10px;
        overflow: hidden;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__content {
        text-align: center;
        margin-top: 10px;

        &-theme {
            font-size: 18px;
            font-weight: bold;
            margin: 5px 0;
            color: #333;
        }

        &-views {
            font-size: 14px;
            color: gray;
        }
    }

    &__like-button {
        background: none;
        border: none;
        font-size: 18px;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
        padding: 5px;
        color: gray;

        &:hover {
            transform: scale(1.1);
            color: red;
        }

        &.liked {
            color: red;
            transform: scale(1.2);
            animation: pop 0.3s ease-in-out;
        }
    }
}

@keyframes pop {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}