@use "sass:color";
@use "../../styles/utils/variables" as vars;
@use "../../styles/base/mixins" as mix;

.header {
    //background-color: vars.$primary-color;
    @include mix.container;

    //  masthead
    &__masthead {
        display: flex;
        flex-direction: column;
        // background-color: vars.$primary-color;
        margin-bottom: 30px;
        @include mix.container;
        height: 80px;

        &__social {
            display: flex;
            justify-content: flex-end;
            gap: 0.5rem;
            padding: 2px 8px;

            & a {
                color: white;
            }
        }

        &__nav-main {
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: white;
            height: 45px;
            margin: 0 155px;
            border-radius: 60px;
            background-color: vars.$dark-primary-color;
            @include mix.container;

            &__logo {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100px;
                width: 150px;
                position: relative;

                & img {
                    width: 100%;
                    object-fit: contain;
                }
            }

            &__input {
                display: flex;
                justify-content: flex-end;
                flex-wrap: wrap;
                align-items: stretch;
                //padding-right: 30px;
                width: 100%;

                & input {
                    display: none;

                    @media (min-width: 1024px) {
                        display: flex;
                        border-radius: 5px 0 0 5px;
                        border: 1px solid #343536;
                        padding: 5px 10px;
                        appearance: none;
                        background-clip: padding-box;
                        transition: border-color 0.15s ease-in-out,
                            box-shadow 0.15s ease-in-out;
                    }
                }

                & button {
                    border: 1px solid #343536;
                    border-radius: 0 5px 5px 0;
                    cursor: pointer;
                    padding: 0.375rem 0.75rem;
                    background-color: vars.$tertiary-color;
                    color: white;
                }
            }
        }
    }



    // Responsiveness
    @media (max-width: 768px) {
        .header__sub-masthead__nav__container {
            flex-direction: column; // Les boutons passent en colonne sur mobile
        }

        .header__sub-masthead__nav__container__navbar-menu {
            max-width: 100%; // Boutons en pleine largeur sur mobile
        }
    }


}