@use '../../styles/base/mixins' as mix;
@use '../../styles/utils/variables' as vars;

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 1rem !important;
    letter-spacing: 1px;
    text-shadow: 1px 1px 4px #0009;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    border: none;
    @include mix.font-primary;
    font-weight: none !important;
    text-transform: unset !important;

    img {
        width: 22px;
        height: 22px;
    }

    &.yellow-button {
        background-color: vars.$secondary-color;
        color: white;

        &:hover {
            background-color: darken(vars.$secondary-color, 5%);
            transform: scale(1.05);
        }
    }

    &.blue-button {
        background-color: vars.$dark-primary-color;
        color: #f0b429;

        &:hover {
            background-color: #1e2d4d;
            transform: scale(1.05);
        }
    }

    &.red-button {
        background-color: #f78e74;
        color: white;


        &:hover {
            background-color: #e97c64;
            transform: scale(1.05);
        }
    }

    &:disabled {
        background-color: #cccccc;
        cursor: not-allowed;
    }
}