@use "../../../../../styles/shared" as *;

.drawing-sidebar {
    @include container;
    padding: 50px;

    &__title {
        font-size: 1.5rem !important;
        font-weight: bold;
        margin-bottom: 20px !important;
        color: #2c3f64;
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); // Colonne auto-adaptative
        gap: 14px;
        list-style: none;
        padding: 0;
        margin: 0;
        max-height: 100%;
    }

    &__item {
        display: block;
    }

    &__link {
        text-decoration: none;
        color: inherit;
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        padding: 15px;
        min-height: 300px; // ✅ Assure une hauteur minimale identique pour toutes les cards
        height: 100%;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
        }
    }

    &__image-wrapper {
        width: 100px;
        height: 100px;
        flex-shrink: 0;
        background-color: #f9b233;
        border-radius: 10px 0 0 10px;
        overflow: hidden;
        margin: 0 auto;
    }

    &__image {
        object-fit: cover;
        width: 100px;
        height: 100px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px 16px;
        flex-grow: 1;
    }

    &__text {
        font-size: 1.3rem !important;
        margin-bottom: 20px !important;
        color: #2c3f64;
        text-align: center !important;
    }

    &__name {
        font-size: 1.1rem;
        font-weight: 600;
        margin-bottom: 8px;
        color: #2c3f64;
    }

    &__button {
        background-color: #f9b233;
        border: none;
        border-radius: 4px;
        padding: 6px 12px;
        color: #2c3f64;
        cursor: pointer;
        font-size: 0.9rem;
        font-weight: bold;
        text-align: center;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #ffcc60;
        }
    }
}