.floating-icons {
    position: absolute;
    inset: 0; // top/right/bottom/left = 0
    pointer-events: none;
    overflow: hidden;
    z-index: -1;
}

.floating-icon.pop-star {
    display: inline-block;
    opacity: 0;
    animation: popStar 3s ease-in-out infinite;
    transform-origin: center;
}

@keyframes popStar {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }

    20% {
        transform: scale(1.3);
        opacity: 1;
    }

    40% {
        transform: scale(1);
        opacity: 0.9;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}