@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: white;
}

main {
  position: relative;
  z-index: 0;
}

header {
  background-color: #2c3f64;
}

a {
  font-family: "Nerko One", sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 3px;
  text-decoration: none;
  color: white;
}

h1 {
  font-family: "Nerko One", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 3px;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
}

h4 {
  font-family: "Fredoka", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5;
}

p {
  font-family: "Fredoka", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
}

.card {
  width: 100% auto;
  height: 250px;
  background-color: #2c3f64;
  border-radius: 15px;
  margin: 0 0 10%;
}
.card__image {
  height: 80%;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.card__image img {
  width: 100%;
  height: auto;
  position: absolute;
}
.card__title {
  height: 20%;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  margin-left: 30px;
  box-sizing: border-box;
  font-size: bold;
}

.articles-gallery {
  display: flex;
  margin-bottom: 15px;
}
.articles-gallery__icon {
  width: 175px;
  height: 175px;
  background-color: #2c3f64;
  border-radius: 20px;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.articles-gallery__icon img {
  width: 100%;
  height: auto;
}
.articles-gallery__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.articles-gallery__body * {
  margin-left: 30px;
}
.articles-gallery__body__title {
  font-weight: bold;
}
.articles-gallery__body__description {
  width: 40vh;
  font-size: 100%;
  color: #2c3f64;
}
.articles-gallery__body__date {
  font-size: 100%;
}

.container__slide {
  position: relative;
  width: 100%;
  height: 450px;
  z-index: 1;
}
.container__slide__image {
  height: 100%;
  top: -60px;
  overflow: hidden;
}
.container__slide__image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  margin: auto;
  height: 100% !important;
}
.container__slide__buttons {
  position: absolute;
  top: 150px;
  left: 30px;
  right: 30px;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.container__slide__pagination {
  position: absolute;
  bottom: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container__slide__pagination span {
  cursor: pointer;
  height: 30px;
  width: 30px;
  margin: 0 5px;
  display: inline-block;
}
.container__slide__pagination span .balloon-icon {
  width: 30px;
  /* Définissez la largeur souhaitée */
  height: 30px;
  /* Définissez la hauteur souhaitée */
  -o-object-fit: contain;
     object-fit: contain;
  /* Maintient les proportions de l'image */
  display: block;
  /* Évite tout décalage lié au comportement inline des images */
}
.container__slide__text {
  position: absolute;
  bottom: 125px;
  left: 150px;
  color: white;
  font-size: large;
  width: 40%;
}
.container__slide__text h1, .container__slide__text p {
  margin-bottom: 30px;
}
.container__slide__btn {
  position: absolute;
  bottom: -30px;
  left: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border-radius: 30px;
  background-color: #ecac3e;
  color: #2c3f64;
  font-weight: bold;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 30px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.button.large {
  background-color: #f0b429;
  color: #2c3f64;
}
.button.large:hover {
  background-color: #d19723;
}
.button.small {
  background-color: #2c3f64;
  color: #f0b429;
}
.button.small:hover {
  background-color: #1e2d4d;
}
.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.container__slide__redBtn {
  position: relative;
  /* Nécessaire pour positionner le nez */
  display: flex;
  justify-content: center;
  align-items: center;
  top: -177px;
  left: 378px;
}
.container__slide__redBtn .redBtn {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: radial-gradient(circle at 30% 30%, rgb(255, 100, 100), rgb(255, 0, 0) 70%);
  box-shadow: inset 0 4px 10px rgba(255, 150, 150, 0.8), 0 0 30px rgba(255, 80, 80, 0.8), 0 0 50px rgba(255, 60, 60, 0.6), 0 0 70px rgba(255, 40, 40, 0.4);
  animation: subtlePulse 5s infinite ease-in-out;
}

@keyframes subtlePulse {
  0%, 100% {
    box-shadow: inset 0 4px 10px rgba(255, 150, 150, 0.8), 0 0 30px rgba(255, 80, 80, 0.8), 0 0 50px rgba(255, 60, 60, 0.6), 0 0 70px rgba(255, 40, 40, 0.4);
  }
  50% {
    box-shadow: inset 0 5px 12px rgba(255, 180, 180, 0.9), 0 0 40px rgba(255, 100, 100, 0.9), 0 0 60px rgba(255, 80, 80, 0.7), 0 0 90px rgba(255, 60, 60, 0.5);
  }
}
.header__masthead {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 50px;
}
.header__masthead__social {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  padding: 5px 10px;
}
.header__masthead__social a {
  color: white;
}
.header__masthead__nav-main {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: white;
  height: 80px;
  margin: 0 50px;
  border-radius: 60px;
  background-color: #202d48;
}
.header__masthead__nav-main__logo img {
  height: 242%;
  width: 146%;
  left: -20px;
  top: -41px;
}
.header__masthead__nav-main__input {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: stretch;
  padding-right: 30px;
  width: 100%;
}
.header__masthead__nav-main__input input {
  display: none;
}
@media (min-width: 1024px) {
  .header__masthead__nav-main__input input {
    display: flex;
    border-radius: 5px 0 0 5px;
    border: 1px solid #343536;
    padding: 13px 25px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
}
.header__masthead__nav-main__input button {
  border: 1px solid #343536;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  padding: 0.375rem 0.75rem;
}
.header__sub-masthead {
  background-color: transparent;
}
.header__sub-masthead__nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.header__sub-masthead__nav__container {
  height: 0;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 0;
  overflow-y: visible;
  z-index: 999;
}
.header__sub-masthead__nav__container__navbar {
  width: 60%;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__sub-masthead__nav__container__navbar-menu {
  width: 70%;
  height: auto;
  margin: 0 8px;
  font-size: 20px;
  font-family: sans-serif;
  text-transform: capitalize;
  line-height: 3em;
  transition: 0.3s;
  cursor: pointer;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header__sub-masthead__nav__container__navbar-menu:nth-child(4n+1) {
  background: url("../../assets/Rectangle 3.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
  text-align: center;
}
.header__sub-masthead__nav__container__navbar-menu:nth-child(4n+2) {
  background: url("../../assets/Rectangle 4.png") no-repeat;
  text-align: center;
  background-position: center;
  background-size: 100% 100%;
}
.header__sub-masthead__nav__container__navbar-menu:nth-child(4n+3) {
  background: url("../../assets/Rectangle 5.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
  text-align: center;
}
.header__sub-masthead__nav__container__navbar-menu:nth-child(4n+4) {
  background: url("../../assets/Rectangle 6.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
  text-align: center;
}
.header__sub-masthead__nav__container__navbar-menu:hover {
  transform: translateY(-10px);
  transition: transform 0.3s ease-in-out;
}

.container__section {
  margin: auto;
  display: flex;
  justify-content: center;
  height: 850px;
  position: relative;
  bottom: 100px;
  z-index: 2;
}
.container__section__theme {
  position: absolute;
  /* Fixe l'icône par rapport au conteneur */
  top: 10px;
  /* Distance depuis le haut */
  right: 10px;
  /* Distance depuis la droite */
  z-index: 10;
}
.container__section__theme .theme-icon {
  width: 80px;
  /* Taille fixe */
  height: auto;
  /* Conserve les proportions */
  display: block;
}
.container__section__card-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  background-image: url("../../assets/Rectangle 20.png");
  margin-right: 300px;
  width: 850px;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.container__section__card-1__sidebar {
  list-style: none;
  padding: 90px;
}
.container__section__card-1__sidebar__button {
  width: 200px;
  height: 100px;
  background-color: #2c3f64;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 33px;
  cursor: pointer;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.container__section__card-1__sidebar__button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.container__section__card-2 {
  margin-left: 300px;
  width: 850px;
  height: 100%;
  background-image: url("../../assets/Rectangle 13.png");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.container__section__card-2__content-panel {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background: url("../../assets/Rectangle 20.png") center no-repeat;
  width: 100%;
  height: 100%;
}
.container__section__card-2__content-panel__text {
  width: 50%;
  margin: 110px 100px 100px 100px;
}
.container__section__card-2__content-panel__img {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 46%;
  height: 31%;
  position: absolute;
  top: 510px;
  right: 41px;
}
.container__section__card-2__content-panel__img img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container__footer {
  background-color: #2c3f64;
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 50px;
}
.container__footer__social {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 50px;
}
.container__footer__legacy {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  gap: 20px;
}
.container__footer__information {
  flex: 1;
}
.container__footer__information__navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.container__footer__information__navigation--liens {
  list-style-type: none;
}
.container__footer__information__navigation--liens h3 {
  margin-bottom: 20px;
}
.container__footer__information__navigation--liens li {
  font-size: 12px;
}

.container__subscribe {
  max-width: 1200px;
  margin: 0 auto;
  height: 100% auto;
  /* Prend toute la hauteur de la fenêtre */
  padding: 140px 0 140px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container__subscribe__link {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  /* S'assure que la largeur ne dépasse pas celle de la page */
}
.container__subscribe__link__line {
  flex-grow: 1;
  border: none;
  height: 2px;
  /* Épaisseur de la ligne */
  background-color: #ecac3e;
  /* Couleur des lignes */
  margin: 0;
  /* Supprimer toute marge */
}
.container__subscribe__link--square-button, .container__subscribe__link--subscribe-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #2c3f64;
  /* Couleur du texte */
  margin: 0;
  /* Supprimer toute marge pour que le carré touche la ligne */
  cursor: pointer;
}
.container__subscribe__link--square-button:hover .container__subscribe__link--square, .container__subscribe__link--subscribe-button:hover .container__subscribe__link--square {
  background-color: #e19616;
}
.container__subscribe__link--square-button:hover .container__subscribe__link--text, .container__subscribe__link--subscribe-button:hover .container__subscribe__link--text {
  color: #1c2941;
}
.container__subscribe__link--square {
  background-color: #ecac3e;
  width: 30px;
  height: 30px;
  border-radius: 5px;
}
.container__subscribe__link--subscribe-button .container__subscribe__link--square {
  width: 60px;
  height: 60px;
}
.container__subscribe__link--text {
  margin-top: 5px;
  /* Espace au-dessus du texte */
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: -moz-max-content;
  width: max-content;
  color: #2c3f64;
}

.summer-theme {
  position: relative;
  background-color: #f0f8ff;
  color: #003366;
  width: 100%;
  /* S'assure que le conteneur prend toute la largeur */
  height: 100%;
}
.summer-theme .decorations-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.decoration {
  position: absolute;
  z-index: 0;
  width: clamp(30px, 5vw, 50px);
  height: clamp(30px, 5vw, 50px);
  background-size: contain;
  background-repeat: no-repeat;
  filter: brightness(0) saturate(100%) invert(75%) sepia(100%) saturate(2000%) hue-rotate(1deg) brightness(99%) contrast(100%);
}
.decoration.decoration-star {
  background-image: url("/assets/Star.png");
}
.decoration.decoration-balloon {
  background-image: url("/assets/ballon-jaune-vide.png");
}
.decoration.decoration-rocket {
  background-image: url("/assets/navette.png");
}

/******************* NEWS ***********************/
.container__news {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__news h2 {
  padding-bottom: 70px;
  color: #2c3f64;
  font-weight: bold;
  font-size: 30px;
}
.container__news h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  margin: 10px 0 10px 10px;
  background-color: #ecac3e;
}
.container__news .news-content {
  display: grid;
  max-width: 1100px;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  gap: 5%;
  box-sizing: border-box;
}
.container__news .news-content__images-gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
.container__news .news-content__images-gallery__slide-wrapper {
  display: flex;
  flex-direction: column;
}
.container__news .news-content__images-gallery__slide-wrapper a .card {
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.container__news .news-content__images-gallery__controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.container__news .news-content__images-gallery__controls .arrow-prev,
.container__news .news-content__images-gallery__controls .arrow-next {
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.container__news .news-content__images-gallery__slide-pagination {
  display: flex;
  gap: 10px;
  margin: 0 20px;
}
.container__news .news-content__images-gallery__slide-pagination span {
  width: 30px;
  height: 30px;
  background-color: #2c3f64;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}
.container__news .news-content__images-gallery__slide-pagination span.active {
  background-color: #ecac3e;
}
.container__news .card__link,
.container__news .articles__link {
  display: block;
  text-decoration: none;
  color: inherit;
}
.container__news .button {
  display: none;
}

/******************* IDEAS ***********************/
.container__ideas {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh auto;
  padding-top: 140px;
}
.container__ideas h2 {
  text-align: center;
  padding-bottom: 70px;
  color: #2c3f64;
  font-weight: bold;
  font-size: 30px;
}
.container__ideas h2::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  margin: 10px auto 0;
  background-color: #ecac3e;
}
.container__ideas .ideas-content__card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.container__ideas .ideas-content__card .ideas-content__card__link {
  display: block;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
  text-decoration: none;
}
.container__ideas .ideas-content__card .ideas-content__card__link.large {
  flex: 2;
  min-width: 60%;
  border: 8px solid #2c3f64;
  background-color: #2c3f64;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.container__ideas .ideas-content__card .ideas-content__card__link.large .card {
  display: flex;
  height: 300px;
  margin: 0;
}
.container__ideas .ideas-content__card .ideas-content__card__link.large .card__image {
  border-radius: 0 !important;
  width: 30% !important;
  height: 100% !important;
}
.container__ideas .ideas-content__card .ideas-content__card__link.large .card__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  border-bottom: 0;
}
.container__ideas .ideas-content__card .ideas-content__card__link.large .card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  margin: 30px 30px 0px;
}
.container__ideas .ideas-content__card .ideas-content__card__link.large .card__content__actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 20px;
}
.container__ideas .ideas-content__card .ideas-content__card__link.small {
  flex: 1;
  min-width: 38%;
  border: 8px solid #ecac3e;
  background-color: #ecac3e;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}
.container__ideas .ideas-content__card .ideas-content__card__link.small .card {
  background-color: transparent;
}
.container__ideas .ideas-content__card .ideas-content__card__link.small .card__image {
  border-radius: 0 !important;
  height: 70% !important;
}
.container__ideas .ideas-content__card .ideas-content__card__link.small .card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin: 10px;
}
.container__ideas .ideas-content__card .ideas-content__card__link.small .card__content p {
  border: none;
}
.container__ideas .ideas-content__card .ideas-content__card__link.small .card__content__actions {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.container__ideas .ideas-content__card .ideas-content__card__link img {
  width: 100%;
  height: auto;
  border-bottom: 5px solid white;
}/*# sourceMappingURL=globals.css.map */