@use "utils/variables" as vars;

.breadcrumb {
    margin-bottom: 1.5rem;
    font-size: 0.9rem;
    color: vars.$primary-color;

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0.5rem;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__link {
        text-decoration: none;
        color: vars.$primary-color;
        font-weight: 500;

        &:hover,
        &:focus-visible {
            text-decoration: underline;
            outline: none;
        }
    }

    &__separator {
        margin: 0 0.3rem;
        color: vars.$secondary-color;
    }

    &__current {
        font-weight: 700;
        font-style: italic;
        color: vars.$primary-color;
    }
}