@use "../../styles/utils/variables" as vars;

/******************* NEWS ***********************/
.container__news {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;

    & h2 {
        padding-bottom: 22px;
        color: vars.$primary-color;
        font-weight: bold;
        font-size: 2rem;

        &::after {
            content: "";
            display: block;
            width: 80px;
            height: 4px;
            margin: 10px 0 10px 10px;
            background-color: vars.$secondary-color;
        }
    }

    .news-content {
        display: grid;
        max-width: 1100px;
        grid-template-columns: 1fr 1fr;
        overflow: hidden;
        gap: 5%;
        padding: 15px;
        box-sizing: border-box;

        &__images-gallery {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 450px; // Réduit la largeur à 70% de la largeur totale
            margin: 0 auto;


            &__slide-wrapper {
                display: flex;
                flex-direction: column;


                & a .card {
                    height: 275px !important;
                    margin: 0 0 6% !important;
                    overflow: hidden;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
                    text-transform: unset !important;
                    transition: transform 0.3s ease, box-shadow 0.3s ease;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

                    &:hover {
                        transform: translateY(-5px);
                        /* Légère élévation */
                        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                        /* Ombre plus marquée */
                    }
                }
            }

            &__controls {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 20px;

                .arrow-prev,
                .arrow-next {
                    width: 45px;
                    height: 45px;
                    cursor: pointer;
                }
            }

            &__slide-pagination {
                display: flex;
                gap: 10px;
                margin: 0 20px;

                & span {
                    width: 30px;
                    height: 30px;
                    background-color: vars.$primary-color;
                    border-radius: 50%;
                    display: inline-block;
                    cursor: pointer;

                    &.active {
                        background-color: vars.$secondary-color;
                    }
                }
            }
        }

        &__articles-gallery {
            & a {
                font-size: inherit !important;
                line-height: normal !important;
                text-decoration: none !important;
                letter-spacing: 0 !important;
                text-shadow: none !important;
                text-transform: unset !important;
            }
        }
    }

    .card__link,
    .articles__link {
        display: block;
        text-decoration: none;
        color: inherit;
    }

    .button {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .container__news {
        .news-content {
            grid-template-columns: 1fr; // empile les deux colonnes
            gap: 30px; // écarte un peu

            &__images-gallery {
                max-width: 100%;
            }
        }

        h2 {
            font-size: 1.6rem; // plus petit titre
            text-align: center;

            &::after {
                margin: 10px auto; // centrer le trait décoratif
            }
        }
    }
}



/******************* IDEAS ***********************/
.container__ideas {
    //display: flex;
    // flex-direction: column;
    // align-items: center;
    // padding-top: 82px;

    h2 {
        text-align: center;
        padding-bottom: 70px;
        color: vars.$primary-color;
        font-weight: bold;
        font-size: 30px;

        &::after {
            content: "";
            display: block;
            width: 80px;
            height: 4px;
            margin: 10px auto 0;
            background-color: vars.$secondary-color;
        }
    }

    .ideas-content {
        display: grid;
        max-width: 1200px;
        overflow: hidden;
        gap: 5%;
        padding: 15px;
        box-sizing: border-box;

        &__card {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            gap: 20px; // Ajout d'un espace entre les cartes

            .ideas-content__card__link {
                display: block;
                // border-radius: 10px;
                overflow: hidden;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                color: white;
                text-decoration: none;
                transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;


                &:hover {
                    transform: translateY(-3px);
                    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);

                }


                &.large {
                    flex: 2;
                    min-width: 60%;
                    border: 8px solid vars.$primary-color;
                    background-color: vars.$primary-color;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

                    .card {
                        display: flex;
                        height: 100%;
                        margin: 0;
                    }

                    .card__image {
                        border-radius: 0 !important;
                        width: 30% !important;
                        height: 115% !important;

                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            display: block;
                            border-bottom: 0;
                        }
                    }

                    .card__content {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        flex-grow: 1;
                        margin: 30px 30px 0px;
                        width: 30%;

                        &__text {
                            & h3 {
                                font-size: 1.5rem;
                                margin: 0 0 30px;
                            }
                        }

                        &__actions {
                            display: flex;
                            justify-content: flex-end;
                            align-items: flex-end;
                            padding-top: 20px;
                        }
                    }
                }

                &.small {
                    flex: 1;
                    min-width: 38%;
                    border: 8px solid vars.$secondary-color;
                    background-color: vars.$secondary-color;
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

                    .card {
                        background-color: transparent;
                    }

                    .card__image {
                        border-radius: 0 !important;
                        height: 65% !important;
                    }

                    .card__content {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-end;
                        padding: 10px;
                        height: 40%;


                        & h3 {
                            font-size: 1rem;
                            width: 50%;
                            height: 0%;
                        }

                        & p {
                            display: none;
                        }

                        &__actions {
                            display: flex;
                            justify-content: flex-end;
                            align-items: flex-end;
                        }
                    }
                }

                // & img {
                //     width: 100%;
                //     height: auto;
                //     border-bottom: 5px solid white;
                // }
            }
        }
    }
}