//--------- button Navbar --------
$btn-orange: url("../../assets/Rectangle 3.png");
$btn-red: url("../../assets/Rectangle 4.png");
$btn-green: url("../../assets/Rectangle 5.png");
$btn-blue: url("../../assets/Rectangle 6.png");

//---------------------------------------------------
$rectangle-orange: url("../../assets/Rectangle 12.png");
$rectangle-blue: url("../../assets/Rectangle 13.png");
$rectangle-yellow: url("../../assets/Rectangle 20.png");
$icon-toutpetits: url("../../assets/tp.png");
$icon-toutpetitsbtn: url("../../assets/tpbtn.png");
$icon-d3btn: url("../../assets/d3btn.png");
$icon-d6btn: url("../../assets/d6btn.png");
$icon-d8btn: url("../../assets/d8btn.png");

$primary-color: #2c3f64;
$secondary-color: #ecac3e;
$tertiary-color: #d75500;
$dark-primary-color: darken($primary-color, 8%);

// Autres variables comme les tailles de police, couleurs, etc.
$font-size-small: 0.875rem;
$font-size-base: 1rem;
$font-size-large: 1.25rem;
$font-size-xlarge: 1.5rem;
$font-size-xxlarge: 2.5rem;

// ----------------------------------------------------

$themes: (
    summer: (bg-color: #f0f8ff,
        text-color: #003366,
        decorations: (star: '/assets/Star.png',
            balloon: '/assets/ballon-jaune-vide.png',
            rocket: '/assets/navette.png'
        )),
    winter: (bg-color: #eaf7ff,
        text-color: #001f3f,
        decorations: (snowflake: '/assets/snowflake.png',
            snowman: '/assets/snowman.png',
            hot-chocolate: '/assets/hot-chocolate.png'
        )) // Ajoutez d'autres thèmes ici...
);