@use "sass:color";
@use "../../styles/utils/variables" as vars;

//sub-masthead
.header__sub-masthead {
    background-color: transparent;

    &__nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &__container {
            height: 0;
            display: flex;
            justify-content: center;
            flex-grow: 1;
            padding: 0;
            overflow-y: visible;
            z-index: 999;

            &__navbar {
                width: 60%;
                height: 100%;
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;

                // position: relative;
                // top: 50px;

                &-menu {
                    width: 70%; // Ajustez la largeur selon vos besoins
                    height: auto; // Ajustez la hauteur selon vos besoins
                    margin: 0 8px; // Espacement entre les boutons
                    font-size: 20px;
                    font-family: sans-serif;
                    text-transform: capitalize;
                    line-height: 3em;
                    transition: 0.3s;
                    cursor: pointer;
                    padding: 20px;
                    text-transform: uppercase;

                    &:nth-child(4n + 1) {
                        background: vars.$btn-orange no-repeat;
                        background-position: center;
                        background-size: 100% 100%;
                        text-align: center;
                        // transform: rotate(20deg);
                        // transform: perspective(200px) rotateY(20deg);
                        // padding-bottom: 10%;

                    }

                    &:nth-child(4n + 2) {
                        background: vars.$btn-red no-repeat;
                        text-align: center;
                        // transform: rotate(-5deg);
                        // transform: perspective(200px) rotateY(20deg);
                        background-position: center;
                        background-size: 100% 100%;
                        // padding-top: 10%;
                    }

                    &:nth-child(4n + 3) {
                        background: vars.$btn-green no-repeat;
                        background-position: center;
                        background-size: 100% 100%;
                        text-align: center;
                        // transform: rotate(5deg);
                        // transform: perspective(200px) rotateY(20deg);
                        // padding-top: 10%;
                    }

                    &:nth-child(4n + 4) {
                        background: vars.$btn-blue no-repeat;
                        background-position: center;
                        background-size: 100% 100%;
                        text-align: center;
                        // padding-top: 10%;
                        // transform: perspective(200px) rotateY(20deg);
                        // transition: transform 0.3s ease-in-out;
                    }

                    // &:nth-child(odd):hover {
                    //   transform: translateY(-10px);
                    //   // padding-bottom: 5%;
                    // }

                    &:hover {
                        transform: translateY(-10px);
                        transition: transform 0.3s ease-in-out;
                        // transform: perspective(200px) rotateX(45deg);
                        // padding-top: 5%;
                    }
                }
            }
        }
    }
}