@use "sass:color";
@use "../../styles/utils/variables" as vars;
@use "../../styles/base/mixins" as mix;

//sub-masthead
.header__sub-masthead {
    background-color: transparent;
    @include mix.container;
    margin-top: 10px;

    &__nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        &__container {
            height: 0;
            display: flex;
            justify-content: center;
            flex-grow: 1;
            padding: 0;
            overflow-y: visible;
            z-index: 999;
            margin-top: 10px;

            &__navbar {
                width: 50%;
                height: 100%;
                list-style: none;
                padding: 0;
                margin: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                // position: relative;
                // top: 50px;

                &-menu {

                    border-radius: 8px;
                    color: white;
                    margin: 0 5px;
                    cursor: pointer;
                    transition: transform 0.3s ease, background-color 0.3s ease;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    white-space: normal; // pour permettre le retour à la ligne si besoin
                    text-align: center;
                    height: 50px; // ou 45px
                    padding: 0 30px; // plus long visuellement
                    font-size: 0.9rem;

                    // couleurs cycliques
                    &:nth-child(6n+1) {
                        background-color: #f9b233;
                    }

                    // jaune
                    &:nth-child(6n+2) {
                        background-color: #f27d72;
                    }

                    // rouge pastel
                    &:nth-child(6n+3) {
                        background-color: #67c9c4;
                    }

                    // turquoise
                    &:nth-child(6n+4) {
                        background-color: #5ba585;
                    }

                    // vert doux
                    &:nth-child(6n+5) {
                        background-color: #c7a269;
                    }

                    // sable
                    &:nth-child(6n+6) {
                        background-color: #f4c048;
                    }

                    // jaune doré

                    &:hover {
                        transform: translateY(-6px);
                        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
                    }

                    a {
                        line-height: 1;
                        font-size: 1rem;
                        color: white;
                    }
                }
            }
        }
    }
}