@use "../../styles/utils/variables" as *;

.articles-gallery {
    display: flex;
    margin-bottom: 28px;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }

    &__icon {
        width: 250px;
        height: 175px;
        background-color: $primary-color;
        border-radius: 20px;
        padding: 15px;
        overflow: hidden;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

        & img {
            width: 100%;
            height: auto;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        padding: 10px 0;

        & * {
            margin-left: 30px;
        }

        &__title {
            font-size: $font-size-large;
            font-weight: bold;
            color: $primary-color !important;
        }

        &__description {
            font-weight: lighter;
            font-size: 100%;
            color: $primary-color;
        }

        &__date {
            font-weight: 500;
            font-size: 100%;
            color: $primary-color !important;
        }
    }
}