.subscribe-page {
    min-height: calc(100vh - 300px);
    padding: 3rem 1rem;
    background-color: #fef9f2;

    section {
        margin: 0 auto;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__image {
        margin-bottom: 1rem;

        img {
            max-width: 450px;
            height: auto;

            @media (max-width: 768px) {
                width: 180px;
            }
        }
    }

    &__text {

        .line {
            display: flex;
            align-items: center;
            gap: 8px;

            img {
                display: block;
            }
        }


        h1 {
            font-size: 2rem;
            color: #2c3f64;
            margin-bottom: 1rem;
            text-align: center;
        }

        p {
            font-size: 1.25rem;
            color: #004b56;
            margin-bottom: 0.5rem;

            &:last-child {
                margin-bottom: 2rem;
            }
        }
    }

    &__gradient {
        padding: 2rem;
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        position: relative;

        .floating-icons {
            z-index: 1;

            svg {
                width: 12px;
                height: 12px;
            }
        }


        .subscribe-page__card {
            position: relative;
            max-width: 600px;
            text-align: center;
            padding: 2rem;
            background-color: #ffffff;
            border-radius: 1rem;
            z-index: 2;
            border-bottom: 1px solid rgba(44, 63, 100, 0.1);
            padding-bottom: 1rem;

            h2 {
                font-size: 1.5rem;
                color: #2c3f64;
                margin-bottom: 1rem;
            }

            p {
                font-size: 1.1rem;
                color: #004b56;
                margin-bottom: .5rem;
            }

            form {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 0.75rem;

                input {
                    padding: 0.75rem 1rem;
                    font-size: 1rem;
                    border-radius: 0.5rem;
                    border: 1px solid #ccc;
                    flex: 1 1 250px;

                    &:focus {
                        outline: none;
                        border-color: #2c3f64;
                    }
                }

                button {
                    padding: 0.75rem 1.25rem;
                    font-size: 1rem;
                    font-weight: bold;
                    border-radius: 0.5rem;
                    border: none;
                    cursor: pointer;

                    background-color: #f9b233;
                    color: #fff;

                    &:hover {
                        background-color: #e29c1c;
                    }
                }
            }
        }
    }

    &__message {
        margin: 1rem 0;
        font-size: 1rem;
        color: #555;
        text-align: center;
    }

    &__assurance {
        margin-top: 1.5rem;
        font-size: 1rem;
        color: #555;

        .line {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                display: block;
                border-radius: 0.25rem;
            }
        }

        p {
            margin: 0.25rem 0;
        }
    }
}