@use '../../styles/utils/variables' as vars;
@use '../../styles/base/mixins' as mix;
@use '../../styles/base/typography' as typ;

.article__print {
    display: flex;
    flex-direction: column;
    align-items: center; // 👈 centrer la checkbox aussi
    gap: 0.6rem;
    margin-top: 0.2rem;

    @media (min-width: 600px) {
        align-items: flex-start;
    }
}


.article__print-options {
    font-size: 0.95rem;
    padding: 0.6rem 1rem;
}

.article__print-checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    input[type="checkbox"] {
        transform: scale(1.3);
        accent-color: #f78e74;
        cursor: pointer;
    }

    span {
        color: #2c3f64;
        font-weight: 500;
    }
}