@use '../base/typography' as typo;
@use '../utils/variables' as vars; // Les variables sont accessibles directement
@use '../base/mixins' as mix; // Les mixins doivent utiliser le préfixe `mix`

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    color: white;
    background-color: #f8f5f1;
    overflow-x: hidden;
    //background-color: #2c3f64;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
video,
iframe {
    max-width: 100%;
    height: auto;
    display: block;
}

main {
    position: relative; // Contexte parent pour les décorations
    z-index: 0; // Assure que le contenu principal reste visible
}

header {
    background-color: vars.$primary-color;
    // height: 166px;
}

a {
    @include mix.font-primary(vars.$font-size-small); // Utilisez le préfixe `mix`
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    text-transform: unset !important;
}

h1 {
    @include mix.font-primary(vars.$font-size-xxlarge, bold); // Utilisez le préfixe `mix`
}

h2 {
    @include mix.font-secondary(vars.$font-size-large, bold); // Utilisez le préfixe `mix`
}

h3 {
    @include mix.font-secondary(vars.$font-size-small, bold); // Utilisez le préfixe `mix`
}

h4 {
    @include mix.font-tertiary(vars.$font-size-small, bold); // Utilisez le préfixe `mix`
}

p {
    @include mix.font-tertiary; // Utilisez le préfixe `mix`
}

strong {
    font-weight: normal;
    /* Enlève le gras */
}