$font-family-primary: "Nerko One", sans-serif;
$font-family-secondary: "Nunito", sans-serif;
$font-family-tertiary: "Fredoka", sans-serif;

// ✍️ Écritures spéciales style craie
$font-family-chalk-fine: "Homemade Apple", cursive;
$font-family-chalk-raw: "Schoolbell", cursive;